body {
  background-color: #A73A3A;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

h1, h2, h3 {
      text-align: center; 
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

hr {
  width: 90%;
 
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

nav {
  margin: auto;
  display: block;
  padding: 5px;
  background-color: black;
  border-radius: 2px;
  width: 90%;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

#wrapper {
    width: 80%;
    margin: auto;
    background-color: #A09DA0;
    box-shadow: #000000 10px 10px 10px;
    padding: 15px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

div {
  
  width: 90%;
  margin: auto;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.itembox {
    width: 80%;
    border: 5px solid black; 
    border-radius: 5px;
    box-shadow: #000000 10px 10px 20px; 
    background-color: #d7d0d0;
    color: #000000;
    padding: 30px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.favorite {
    width: 80%;
    border-radius: 5px;
    border: 5px dashed #840000; 
    box-shadow: #000000 5px 5px 10px; 
    background-color: #f3e989;
    color: #840000;
    padding: 25px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #616161;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

li.nav{
  display: inline;
  float: left;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

li.nav a{
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

li.nav a:hover{
   border-radius: 5px; 
    box-shadow: #000000 5px 5px 10px; 
    background-color: #b0b0b0;
    color: #ffffff;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

ul {
  list-style-type: circle;
  background: #f3e989;
  padding: 20px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

ol {
  list-style-type: circle;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

h1.header {
      font-family: "Cursive";
      color: black;
      font-size: 45px;
      background: #d7d0d0
    }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

footer {
      width: 90%;
      margin: auto;
      font-style: italic;
      background-color: #f3e989;
      text-align: center;
    }