body{
  width:1200px;
  font-size: 0;
}
div{
  position: relative;
}
/*
Add your CSS to the ID selectors below
*/
#statue{
position: relative;
top:0px;
left:0px;
}

#ball{
position: absolute;
z-index:1;
top:20px;
left:23px;
}

#turnip{
position: absolute;
top:267px;
left:297px;
z-index:1;
}

#farm{
position: relative;
}

#grass{
position: absolute;
top:267px;
left:493px;
z-index:1;
}

#tetris{
position: relative;
}

#L{
position: absolute;
top:1700px;
left:100px;
z-index:1;
}

#T{
position: absolute;
top:1801px;
left:500px;
z-index:1;
}

#I{
position: absolute;
top:1700px;
left:1000px;
z-index:1;
}